@model MVC.Models.Auth.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Login</h2>

<div class="d-flex justify-content-start">
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        @Html.LabelFor(model => model.Email, new { @class = "control-label mt-1" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control mb-1" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Password, new { @class = "control-label mt-1" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control mb-1" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        <div class="form-check">
            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-label" })
        </div>

        <button type="submit" class="btn btn-primary w-100 my-1">Login</button>
    }
</div>