@model SelectionModel

@Html.AntiForgeryToken()
<h4>Date & Time selection</h4>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="d-flex justify-content-between align-items-end gap-5">
    <div style="flex: 1">
        @Html.LabelFor(model => model.DateTimeSelectionModel.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.DateTimeSelectionModel.Date, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", onclick = "this.showPicker()" })
        @Html.ValidationMessageFor(model => model.DateTimeSelectionModel.Date, "", new { @class = "text-danger" })
    </div>
    <div style="flex: 1">
        @Html.LabelFor(model => model.DateTimeSelectionModel.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.DateTimeSelectionModel.StartTime, "{0:HH:mm}", new { type = "time", @class = "form-control", onclick = "this.showPicker()" })
        @Html.ValidationMessageFor(model => model.DateTimeSelectionModel.StartTime, "", new { @class = "text-danger" })
    </div>
    <div style="flex: 1">
        @Html.LabelFor(model => model.DateTimeSelectionModel.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.DateTimeSelectionModel.EndTime, "{0:HH:mm}", new { type = "time", @class = "form-control", onclick = "this.showPicker()" })
        @Html.ValidationMessageFor(model => model.DateTimeSelectionModel.EndTime, "", new { @class = "text-danger" })
    </div>
    <div style="flex: .5">
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
</div>