@model SelectionModel

@Html.AntiForgeryToken()
<h4>Where?</h4>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="d-flex justify-content-between flex-wrap gap-5">
    @if (Model.LocationModels.Any())
    {
        @Html.DropDownListFor(model => model.SelectedLocationId, new SelectList(Model.LocationModels, "Id", "Name"), new { @class = "w-100", placeholder = "Location", required = true })
        <button type="submit" class="btn btn-primary w-100"
                onclick="{
                    document.getElementById('step').value = 4;
                    document.getElementById('form').submit();
                }">
            Submit
        </button>
    }
    @if (Model.FloorModels.Any())
    {
        @Html.DropDownListFor(model => model.SelectedFloorId, new SelectList(Model.FloorModels, "Id", "Name"), new { @class = "w-100", placeholder = "Floor", required = true })
        <button type="submit" class="btn btn-primary w-100"
                onclick="{
                    document.getElementById('step').value = 5;
                    document.getElementById('form').submit();
                }">
            Submit
        </button>
    }
    @if (Model.Step >= 5)
    {
        <div class="d-flex flex-column">
            <div class="d-flex flex-column">
                @foreach (WorkspacePropModel workspace in Model.WorkspaceModels)
                {
                    <div class="w-100 m-1 p-2 border border-dark rounded">
                        <div class="d-flex">
                            <p>@workspace.Name</p>
                            @{
                                if (!Model.Reservations.ContainsKey(workspace.Id.ToString()))
                                {
                                    Model.Reservations.Add(workspace.Id.ToString(), "");
                                }
                            }
                            @Html.DropDownListFor(model => model.Reservations[workspace.Id.ToString()], new SelectList(Model.EmployeeModels, "Id", "Name"), "", new { @class = "w-100", placeholder = "Employee" })
                        </div>
                    </div>
                }
            </div>
            <div style="flex: .5">
                <button type="submit" class="btn btn-primary w-100"
                        onclick="{
                            document.getElementById('step').value = 6;
                            document.getElementById('form').submit();
                        }">
                    Submit
                </button>
            </div>
        </div>
    }
</div>