@using BLL.Entities
@model BLL.Entities.Workspace

<tr>
    <td>@Model.Room.Floor.Name, @Model.Room.Name</td>
    <td>@Html.ActionLink(Model.Name, "Detail", "Workspace", new { id = Model.Id }, null)</td>
    <td>
        @foreach (Characteristic characteristic in Model.Characteristics)
        {
            <span style="font-weight:300" class="badge  text-black badge-primary mr-2">@characteristic.Amount @characteristic.Type</span>
        }
    </td>
    <td class="text-center">
        @if (Model.Occupied)
        {
            <span class="dot bg-danger"></span>
        }
        else
        {
            <span class="dot bg-success"></span>
        }
    </td>
</tr>